#siteHead{
  color: pink;
}
body {
background: url("gradient-background.jpg");
background-size: cover;
/*background-repeat: repeat-y; */
color: #F54F78;
font-family: 'Handlee', cursive;
}
.Pages-background {
  background: url("website-index.jpg");
  color: white;
  font-size: 48px;
  background-size: cover;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

   background-color: #F087A1;
   opacity: 0.6;
   filter: alpha(opacity=40);
}

li {
   float: centre;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 12px 16px;
   text-decoration: none;
   font-size: 24px;
}
a:hover:not(.active) {
   background-color: #EEBFCB;
}

.active {
background-color:#F54F78;
}
img {
	max-width: 100%;
	/*height: auto;*/
	border-radius: 15px 15px 15px 15px;
	padding: 7px 10px 10px 7px;
}
.Pink-Box {
  background-color: #F087A1;
  padding: 10px;
  color: white;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
.Button-Styling {

   /*width: 84px;
   height: 45px;*/
   background: transparent;
   border: none;
   color:#F54F78;
   font-size:20px;
   font-family: 'Handlee', cursive;
}
#Gold-Nail {
  border-radius: 50px;
}
body{
	font-family: 'Handlee', cursive;, "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	width:400px;
	padding:14px;
}
	/* ----------- basic ----------- */

	#basic h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#basic p{
		font-size:11px;
		color:pink;
		margin-bottom:20px;
		border-bottom:solid 1px orange;
		padding-bottom:10px;
	}
	#basic label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
	}
	#basic .small{
		color:orange;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
	#basic input{
		float:left;
		width:200px;
		margin:2px 0 30px 10px;
	}
	#basic button{
		clear:both;
		margin-left:150px;
		background:orange;
		color:pink;
		border:solid 1px orange;
		font-size:11px;
		font-weight:bold;
		padding:4px 6px;
	}


	/* ----------- stylized ----------- */
	#stylized{
		border:solid 2px pink;
		background:pink;
    border-radius: 15px;

	}
	#stylized h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#stylized p{
		font-size:11px;
		color:orange;
		margin-bottom:20px;
		border-bottom:solid 1px pink;
		padding-bottom:10px;
	}
	#stylized label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
	}
	#stylized .small{
		color:pink;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
	#stylized input{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:200px;
		margin:2px 0 20px 10px;
	}
	#stylized button{
		clear:both;
		margin-left:160px;
		width:125px;
		height:31px;
		background:orange;
		text-align:center;
		line-height:31px;
		color:white;
		font-size:11px;
		font-weight:bold;
	}
