#siteHead{
  color: pink;
}
body {
background: url("website-index.jpg");
/*background-size: cover;
background-repeat: repeat-y; */
color: white;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

   background-color: #F087A1;
}

li {
   float: centre;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
a:hover:not(.active) {
   background-color: #EEBFCB;
}

.active {
background-color:#F54F78 ;
}
