#siteHead{
  color: pink;
}
body {
background: url("gradient-background.jpg");
background-size: cover;
/*background-repeat: repeat-y; */
color: #F54F78;
font-family: 'Raleway', sans-serif;
}
.Pages-background {
  background: url("website-index.jpg");
  color: white;
  font-size: 48px;
  background-size: cover;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

   background-color: #F087A1;
   opacity: 0.6;
   filter: alpha(opacity=40);
}

li {
   float: centre;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 12px 16px;
   text-decoration: none;
   font-size: 24px;
}
a:hover:not(.active) {
   background-color: #EEBFCB;
}

.active {
background-color:#F54F78;
}
